body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  background-color: black;
}

h2 {
  margin-bottom: 20px;
  text-align: center;
}

p {
  text-align: center;
  color: white;
  font-size: 14px;
  margin-top: 20px;
}

.container {
  width: 300px;
  padding: 20px;
  background-color: white;
  border-radius: 10px;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.1);
}

.container input {
  width: 92%;
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.container button {
  width: 100%;
  padding: 10px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

a {
  color: white;
  font-weight: bold;
  text-decoration: none;
}