<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>

    <nav id="menu">
        <ul>
            <li><a href="#">Home</a></li>
            <li><a href="Produtos.html">Produtos e serviços</a></li>
            <li><a href="Solicitacoes.html">Solicitações</a></li>
            <li><a href="#">Sobre</a></li>
            <li><a href="Login.html">Entrar </a></li>
            <li><a href="cadastro_user.html">ou Cadastrar</a></li>
        </ul>
    </nav>
    <H1>Seja bem vindo, sou a Home</H1> 
</body>
</html>