<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login - Entrar</title>
    <link rel="stylesheet" href="styleLogin.css">
</head>
<body>

    <nav id="menu">

        <ul>

            <li><a href="index.html">Home</a></li>
            <li><a href="Produtos.html">Produtos e serviços</a></li>
            <li><a href="Solicitacoes.html">Solicitações</a></li>
            <li><a href="Sobre.html">Sobre</a></li>
            <li><a href="#">Criar cadastro</a></li>
    
        </ul>

    </nav>

    

    <div id="login">

        <form class="card">

            <div class="card-header">

                <h2>Login</h2>

            </div>

            <div class="card-content">

                <div class="card-content-area">

                    <label for="usuario">Usuário</label>

                    <input type="text" id="usuario" autocomplete="off">

                </div>

                <div class="card-content-area">

                    <label for="password">Senha</label>

                    <input type="password" id="password" autocomplete="off">
                    
                </div>

            </div>

            <div class="card-footer">

                <button type="submit" value="login" class="submit" href="">LOGIN</button>

                <a href="#" class="recuperar_senha">Esqueceu a Senha?</a>

            </div>

        </form>
        

    </div>
    
</body>
</html>