<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sobre nós</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>

    <nav id="menu">

        <ul>

            <li><a href="index.html">Home</a></li>
            <li><a href="Produtos.html">Produtos e serviços</a></li>
            <li><a href="Solicitacoes.html">Solicitações</a></li>
            <li><a href="#">Sobre</a></li>
            <li><a href="Login.html">Entrar ou cadastrar</a></li>
    
        </ul>

    </nav>

    <H1>Quem somos</H1>
    <p>Somos um empresa especializada em consultoria e sorviços de higiene para o seu negócio</p>
    
</body>
</html>