<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Solicitações</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>

    <nav id="menu">

        <ul>

            <li><a href="index.html">Home</a></li>
            <li><a href="Produtos.html">Produtos e serviços</a></li>
            <li><a href="#">Solicitações</a></li>
            <li><a href="Sobre.html">Sobre</a></li>
            <li><a href="Login.html">Entrar ou cadastrar</a></li>
    
        </ul>

    </nav>

    <H1>Faça um orçamento, pedido ou agende uma consultoria</H1>
    
</body>
</html>